<!DOCTYPE html>
<html>
<head>
  <title>Validación</title>
  <!-- Enlace al archivo de script validate.js -->
  <script type="text/javascript" src="../static/js/validate.js"></script>
  <!-- Agrega estilos o scripts relevantes si es necesario -->
  <script type="text/javascript">
    // Llamada a la función validateToken() al cargar la página
    window.onload = function() {
      validateToken();
    };
  </script>
</head>
<body>
  <h1>Validación en progreso...</h1>
  <p>Por favor, espere mientras se valida su sesión.</p>
  <!-- Puedes añadir más contenido relacionado con la validación aquí -->
</body>
</html>
